## Cleaning Data

cleanup `list` and `datetime` object

In [1]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python','SQL','Machine Learning']", 'job_date': "2023-05-12"},
    {'job_title': 'Data Analyst', 'job_skills': "['Excel','SQL','Statistics']", 'job_date': "2023-06-05"},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python','TensorFlow','Deep Learning']", 'job_date': "2023-06-20"},
    {'job_title': 'Data Engineer', 'job_skills': "['Python','SQL','ETL']", 'job_date': "2023-07-02"},
    {'job_title': 'Business Intelligence Analyst', 'job_skills': "['SQL','Tableau','Data Visualization']", 'job_date': "2023-07-15"}
]

coverting the string into datetime

In [6]:
from datetime import datetime

print(datetime.now())

type(data_science_jobs[0]['job_date'])

2024-07-06 09:02:39.036374

str

In [15]:
test_date=datetime.strptime(data_science_jobs[0]['job_date'],"%Y-%m-%d")
print(test_date)

2023-05-12 00:00:00

In [23]:
for jobs in data_science_jobs:
    jobs['job_date']=datetime.strptime(jobs['job_date'],"%Y-%m-%d")

In [24]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': "['Python','SQL','Machine Learning']",
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': "['Excel','SQL','Statistics']",
  'job_date': datetime.datetime(2023, 6, 5, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': "['Python','TensorFlow','Deep Learning']",
  'job_date': datetime.datetime(2023, 6, 20, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': "['Python','SQL','ETL']",
  'job_date': datetime.datetime(2023, 7, 2, 0, 0)},
 {'job_title': 'Business Intelligence Analyst',
  'job_skills': "['SQL','Tableau','Data Visualization']",
  'job_date': datetime.datetime(2023, 7, 15, 0, 0)}]

In [25]:
type(data_science_jobs[0]['job_date'])

datetime.datetime

converting the strings into Lists

In [26]:
import ast

for job in data_science_jobs:
    job['job_skills'] = ast.literal_eval(job['job_skills'])

In [29]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['Excel', 'SQL', 'Statistics'],
  'job_date': datetime.datetime(2023, 6, 5, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 6, 20, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'SQL', 'ETL'],
  'job_date': datetime.datetime(2023, 7, 2, 0, 0)},
 {'job_title': 'Business Intelligence Analyst',
  'job_skills': ['SQL', 'Tableau', 'Data Visualization'],
  'job_date': datetime.datetime(2023, 7, 15, 0, 0)}]