In [1]:
import pandas as pd

## Basic Data Stuctures

### **Series** 
* A one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).  
* Axis labels are known as the index.

#### Creating Series

In [12]:
#Creating series from List
s = pd.Series([1, 2, 3, 4, 5])
#creating series from dictionary
data = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(data)

#### Series Attributes

In [14]:
print(s.index)
print(s.values)

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

#### Series Operations

In [19]:
# Indexing and Slicing
print(s['a'])
print(s[:3])

1
a    1
b    2
c    3
dtype: int64

In [20]:
# Vectorized Operation
s+2

a    3
b    4
c    5
dtype: int64

In [23]:
# Statistical Methods
print(s.mean())
print(s.sum())

2.0
6

### **Dataframe**
* A two-dimensional labeled data structure with columns of potentially different types.

In [24]:
#creating dataframe from Dictionary
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

In [25]:
#from a CSV file 
df = pd.read_csv("sample_data/housing.csv")     #random dataset downloaded from kaggle

#### DataFrame Attributes and Methods

In [33]:
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=20640, step=1)
Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [34]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [35]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

#### DataFrame Operation

In [46]:
#selecting columns
print(df.total_bedrooms)
print("----------------------------------")
print(df.total_bedrooms[1])

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
20635     374.0
20636     150.0
20637     485.0
20638     409.0
20639     616.0
Name: total_bedrooms, Length: 20640, dtype: float64
----------------------------------
1106.0

In [51]:
df[['total_bedrooms','ocean_proximity']]

       total_bedrooms ocean_proximity
0               129.0        NEAR BAY
1              1106.0        NEAR BAY
2               190.0        NEAR BAY
3               235.0        NEAR BAY
4               280.0        NEAR BAY
...               ...             ...
20635           374.0          INLAND
20636           150.0          INLAND
20637           485.0          INLAND
20638           409.0          INLAND
20639           616.0          INLAND

[20640 rows x 2 columns]